In [6]:
import pandas as pd
import numpy as np

In [21]:
test = pd.DataFrame({"movieId":[2, 2, 3, 4, 5], "userId":[1, 2, 3, 4, 5], "rating":[1, 2, 3, 4, 5]})
test

   movieId  userId  rating
0        2       1       1
1        2       2       2
2        3       3       3
3        4       4       4
4        5       5       5

In [22]:
test_piv = test.pivot(index="movieId", columns="userId", values="rating").fillna(0)
test_piv

userId     1    2    3    4    5
movieId
2        1.0  2.0  0.0  0.0  0.0
3        0.0  0.0  3.0  0.0  0.0
4        0.0  0.0  0.0  4.0  0.0
5        0.0  0.0  0.0  0.0  5.0

In [23]:
from scipy import sparse
sparse_mat = sparse.csr_matrix(test_piv.values)
print(sparse_mat)

  (0, 0)	1.0
  (0, 1)	2.0
  (1, 2)	3.0
  (2, 3)	4.0
  (3, 4)	5.0

In [24]:
sparse_mat.todense()

matrix([[1., 2., 0., 0., 0.],
        [0., 0., 3., 0., 0.],
        [0., 0., 0., 4., 0.],
        [0., 0., 0., 0., 5.]])